.i-faq {
  width: 100%;
  margin: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.i-faq__title {
  margin: 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.i-faq__accordion {
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media all and (max-width: 1439px) {
  .i-faq__title {
    font-size: 56px;
  }
  
  .i-faq__accordion {
    margin: 20px 0 0 0;
    gap: 12px;
  }
  
}
