.i-footer {
  margin: 120px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.i-footer__container {
  margin: 0 auto;
  padding: 44px 0 80px;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.i-footer__title {
  margin: 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  color: #F3F3E9;
}
.i-footer__social {
  width: 100%;
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 120px 400px 1fr;
  gap: 20px;
  align-items: center;
}
.i-footer__social-link {
  width: 120px;
  height: 120px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  transition: .3s ease-in-out;
}
.i-footer__social-link:hover {
  cursor: pointer;
  opacity: .7;
}
.i-footer__social-icon {
  width: 80px;
  height: 80px;
  margin: 0;
  object-fit: contain;
  object-position: center;
  z-index: 2;
  position: relative;
}
.i-footer__social-text {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}
.i-footer__support-link {
  text-decoration: underline;
  transition: .3s ease-in-out;
}
.i-footer__support-link:hover {
  cursor: pointer;
  opacity: .7;
}
.i-footer__copy {
  margin: 80px 0 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  color: var(--white-color);
}
.i-footer__bottom {
  margin: 36px 0 0 0;
  width: 100%;
  padding: 48px 90px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 80px;
  background-color: rgba(255, 255, 255, 0.05);
}
.i-footer__icon {
  margin: 0 20px 0 0;
  height: 36px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
  z-index: 2;
}
.i-footer__icon-rut {
  height: 28px;
}
.i-footer__navigation {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 44px;
}

@media all and (max-width: 1440px) {
  .i-footer {
    margin: 40px 0 0;
  }
  .i-footer__container {
    padding: 80px 40px;
  }
}

@media all and (max-width: 1280px) {
  .i-footer {
    margin: 40px 0 0;
  }
  .i-footer__container {
    padding: 60px 28px;
  }
  .i-footer__title {
    font-size: 56px;
    letter-spacing: -2px;
  }
  .i-footer__social-link {
    width: 80px;
    height: 80px;
  }
  .i-footer__social-icon {
    width: 44px;
    height: 44px;
  }
  .i-footer__support {
    font-size: 20px;
  }
  .i-footer__bottom {
    margin: 20px 0 0 0;
    width: 100%;
    padding: 20px 36px;
  }
  .i-footer__icon {
    height: 32px;
  }
  .i-footer__icon-rut {
    height: 24px;
  }
  .i-footer__copy {
    margin: 32px 0 0;
    font-size: 16px;
  }
}

@media all and (max-width: 1000px) {
  .i-footer {
    margin: 20px 0 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .i-footer__container {
    padding: 40px 16px;
  }
  .i-footer__title {
    font-size: 44px;
  }
  .i-footer__social {
    grid-template-columns: 80px 1fr;
  }
  .i-footer__social-text {
    font-size: 16px;
  }
  .i-footer__bottom {
    margin: 24px 0 0 0;
    padding: 20px 16px;
  }
  .i-footer__navigation {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .i-footer__copy {
    margin: 40px 0 0;
    font-size: 14px;
  }
}

